.local/bin/custom/google-drive/local.sh
.local/bin/custom/new-file/local.sh
.config/rclone
.config/hypr/hyprland/local.lua
.config/hypr/hyprland-old/
.config/shell/local
.config/Bitwarden CLI
.local/bin/custom/bw/local.sh
.config/qutebrowser/qsettings/

